header{
    background-color: black;
    overflow: hidden;
    height: 6rem;
    color: white;
    text-align: center;
}
.mainbar>a{
    float: left;
    color: white;
    text-align: center;
}
.bottomtext{
    background-color: black;
    overflow: hidden;
    bottom: 0%;
    width: 100%;
    height: 6rem;
    color: white;
    text-align: center;
}
.metext{
    text-align: center;
    color: black;
}
.backgroundimage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}
body{
    margin: 0;
}
.blurry{
    background-image: url(images/Asset\ 1.png);
    filter: blur(8px);
  -webkit-filter: blur(8px); 
  width: 110vw;
  height: 110vh;
  background-size: cover;
  position: fixed;
  z-index: -1;
}
